# MacOS
.DS_store

# Python
.env/
.venv/

# Data files
data/fairy_tales
data/sentences
data/iterative_vectors
#data/n_neighbors.json
#data/neighbor_frequencies.json
#data/indiv_word_representations
#data/fairytales_word_tf-idfs.json
#data/fairytales_tokenized.json
#data/fairytales_word_bloom-filters.json


# Misc.
notes.txt